fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
python-multipart
pydantic[email]
langgraph
langchain
langchain-ollama
langchain-community
chromadb
pypdf
pandas
langchain-text-splitters
ddgs
